.venv/
.vscode/
migrations/
*.pyc
db/case_db.*
instance/
app/static/fonts/
__pycache__
.tox/
.testrepository
.coverage
.eggs
.history
.idea
*.egg-info
.coverage.*
*.pot
*.mo
*.po
.cache
*~
*.log
hydra-notifierd-secrets.conf
service-account.json
resources/id_ed25519
*.db
