[FORMAT]
max-line-length=100
indent-string='  '
indent-after-paren=2
const-rgx=(([A-Z_a-z][a-zA-Z0-9_]*)|(__.*__))$

[BASIC]
module-rgx=(([a-z_][a-z0-9_\-]*)|([A-Z][a-zA-Z0-9]+))$
variable-rgx=([a-z_][a-z0-9_]{2,30}$)|([A-Z_][A-Z0-9_]{2,30}$)

[TYPECHECK]
ignored-classes=Config,_socketobject

[VARIABLES]
additional-builtins=Twilio,Gchat

[MESSAGE CONTROL]
disable=ungrouped-imports,duplicate-code
